<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faisal's Mf Portfolio</title>
  </head>
  <body>
    <h1>Faisal's Mf Portfolio</h1>

    <ul>
      <li><a href="/tata">View Tata Ethical Fund Current Performance</a></li>
      <li>
        <a href="/taurus">View Taurus Ethical Fund Current Performance</a>
      </li>
    </ul>
  </body>
</html>
